.group-stage-group-match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 5px;
    width: 400px;
    background-color: rgb(211, 211, 211);
    padding: 2px;
    border-radius: 5px;
}
.group-stage-group-match-countries {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
}
.group-stage-group-match-results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}
.group-stage-group-match-result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.group-stage-group-match-result-container > label {
    font-size: 9px;
    font-weight: bold;
}
.group-stage-group-match-result {
    width: 15px;
    height: 15px;
    text-align: center;
}
.group-stage-group-match-result::-webkit-outer-spin-button,
.group-stage-group-match-result::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.group-stage-group-match-team{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 130px;
}
.group-stage-group-match-team > p{
    font-size: 12px;
}
.group-stage-group-match-countries-flag {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.149);
}

.group-stage-group-match-date {
    font-size: 10px;
    font-weight: bold;
}