.round16{
    background-color: rgb(175, 175, 175);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
.round16-title{
    font-size: 20px;
    width: 100%;
    margin-bottom: 0.5%;
}