.authentication-container{
    width: 100vw;
    height: 100vh;
    background-color: #8A1538;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.authentication-logo{
    height: 200px;
    margin-bottom: 5%;
}
.authentication-form{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}
.authentication-form > input {
    width: 400px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: "Qatar2022";
    font-size: 15px;
    color: grey;
    padding: 1.5%;
}
.authentication-form > label {
    color: #8A1538;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -20px;
}
.authentication-form>button {
    width: 150px;
    height: 30px;
    margin-top: 1%;
    font-family: "Qatar2022";
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid white;
    background-color: #8A1538;
    color: white;
    cursor: pointer
}
.authentication-state-button{
    border: none;
    font-family: "Qatar2022";
    color: white;
    background-color: #8A1538;
    font-size: 15px;
    margin-top: 2%;
    cursor: pointer;
}
.authentication-state-button:hover{
    text-decoration: underline;
}
.authentication-form>button:hover {
    border: 1px solid #8A1538;
    background-color: white;
    color: #8A1538;
}
.authentication-title{
    color: white;
    margin-bottom: 20px;
}
#second{
    width: 300px;
}
.authentication-error{
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

@media (max-width: 700px){
    .authentication-logo {
        width: 70vw;
        margin-bottom: 5%;
    }
    .authentication-form{
        width: 95vw;
    }
    .authentication-form>input{
        width: 90vw;
    }
}