.authentication-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(59, 28, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.authentication-form{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}
.authentication-form > input {
    width: 350px;
    height: 30px;
}
.authentication-form > label {
    color: rgb(59, 28, 211);
    font-weight: bold;
    margin-bottom: -20px;
}
.authentication-state-button, .authentication-form>button {
    width: 150px;
    height: 30px;
    margin-top: 1%;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid white;
    background-color: rgb(206, 126, 126);
    color: white;
    cursor: pointer
}
.authentication-state-button:hover , .authentication-form>button:hover {
    border: 1px solid rgb(206, 126, 126);
    background-color: white;
    color: rgb(206, 126, 126)
}
.authentication-title{
    color: white;
    margin-bottom: 20px;
}
#second{
    width: 300px;
}
.authentication-error{
    margin-top: 20px;
    color: white;
    font-weight: bold;
}