.final-stage-container {
    background-color: rgb(59, 28, 211);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.final-stage-title {
    font-size: 28px;
    width: 100%;
    margin-bottom: 0.5%;
    color: white
}

.final-stage-match-container {
    margin-bottom: 0.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.final-stage-match-container>p {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    background-color: rgb(186, 82, 82);
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}