.group-positions-container{
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 350px;
}
.group-positions-indicators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 2.5%;
    border-bottom: solid 3px black 
}
.group-positions-team{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    /* margin-bottom: 2.5%; */
    border-bottom: solid 0.25px black;
    font-size: 12px;
    line-height: 60px;
}
.group-position-team-stats{
    display: flex;
    flex-direction: row;
    width: 240px;
    justify-content: space-around;
}
.group-position-team-stats-points{
    font-weight: bold;
    line-height: 60px;
}
.group-positions-team-name {
    font-weight: bold;
    width: 120px;
    text-align: left;
    margin-left: 2.5%;

}
.group-positions-team-indicator{
    width: 100px;
    text-align: left;
    font-weight: bold;
}
.group-position-team-stats-indicators{
    display: flex;
    flex-direction: row;
    width: 240px;
    justify-content: space-around;
    font-weight: bold;
}
.group-positions-team:nth-child(2){
    background-color: rgb(255, 222, 73);
    color: rgb(191, 0, 0)
}
.group-positions-team:nth-child(3) {
    background-color: rgb(253, 240, 185);
    color: rgb(143, 32, 32)
}