.group-positions-container{
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #D9D9D9;
    margin-left: 3%;
}
.group-positions-group{
    color: #8A1538
}
.group-positions-group-letter{
    color: #8A1538;
    font-size: 80px;
}
.group-positions-container > div{
    background-color: #F9F4F5;
    height: 100%;
    width: 100%;
    border-radius: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.group-positions-indicators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    margin-bottom: 2.5%;
    background-color: #8A1538;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border-bottom: solid 3px black  */
}
.group-positions-team{
    padding-top: 0.5%;
    padding-bottom: 1.5%;
    background-color: #D9D9D9;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    /* border-bottom: solid 0.25px black; */
    font-size: 12px;
    line-height: 35px;
    margin-top: 2%;
}
.group-positions-team > div {
    background-color: #ffffff;
    width: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.group-position-team-stats{
    display: flex;
    flex-direction: row;
    width: 240px;
    justify-content: space-around;
}
.group-position-team-stats-points{
    font-weight: bold;
    line-height: 35px;
}
.group-positions-team-name {
    font-weight: bold;
    width: 120px;
    text-align: left;
    margin-left: 2.5%;

}
.group-positions-team-indicator{
    width: 100px;
    text-align: left;
    font-size: 14px;
    color: white
}
.group-position-team-stats-indicators{
    display: flex;
    flex-direction: row;
    width: 240px;
    justify-content: space-around;
    font-weight: bold;
    font-size: 14px;
    color: white;
}