.group-stage-group-container {
    display: flex;
    flex-direction: row;
    margin: 1%;
    background-color: white;
    padding: 1.5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.group-stage-group{
    display: flex;
    flex-direction: column;

}
.group-stage-group-name {
    font-size: 25px;
    width: 100%;
    background-color: rgb(186, 82, 82);
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border: 1px solid black;
}
@media (max-width: 800px) {
    .group-stage-group-container {
        display: flex;
        flex-direction: column-reverse;
        margin: 1%;
        background-color: white;
        padding: 1.5px;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }
}