.group-stage-container{
    margin-top: 100px;
}
.group-stage{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 10px;
}
.group-stage-title {
    font-size: 28px;
    width: 100%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    color: #8A1538
}
.group-stage-button-container {
    width: 100%;
}

.group-stage-button-container > button {
    width: 150px;
    height: 30px;
    margin-top: 1%;
    border-radius: 5px;
    font-family: "Qatar2022";
    font-weight: bold;
    border: none;
    background-color: #8A1538;
    color: white;
    cursor: pointer
}

.group-stage-button-container > button:hover {
    border: 1px solid #8A1538;
    background-color: white;
    color: #8A1538;
}