.menu-container{
    position: fixed;
    margin-top: -100px;
    height: 100px;
    width: 100vw;
    background-color: #8A1538;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%
}
.menu-container-user{
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.menu-logo{
    width: 180px;
}
.logo-container{
    width: 300px;
    display: flex;
    align-items: flex-start;
}
.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-container> h1 {
    color: white;
    font-size: 50px;
    align-items: center;
}
.menu-container-user{
    color: white;
    width: 300px;
}
.menu-container-user>  p {
    font-size: 15px;
}
.menu-container-logout-button{
    font-family: "Qatar2022";
    width: 100px;
    height: 30px;
    margin-top: 1%;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
    color: #8A1538;
    cursor: pointer
}
.menu-container-logout-button:hover{
    border: 1px solid white;
    background-color: #8A1538;
    color: white
}