.menu-container{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    background-color: #8A1538;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%
}
.menu-container-user{
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.menu-logo{
    width: 180px;
}
.logo-container{
    width: 350px;
    display: flex;
    align-items: flex-start;
}
.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-container> h1 {
    color: white;
    font-size: 50px;
    align-items: center;
}
.menu-container-user{
    color: white;
    width: 350px;
}
.menu-user {
    font-size: 15≥px;
    text-decoration: none;
    color: white;
}
.menu-user:hover{
    color: #00cfb7
}
.menu-container-logout-button{
    font-family: "Qatar2022";
    width: 100px;
    height: 30px;
    margin-top: 1%;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
    color: #8A1538;
    cursor: pointer
}
.menu-container-logout-button:hover{
    border: 1px solid white;
    background-color: #8A1538;
    color: white
}
.menu-user-profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
}
.menu-user-profile-pic:hover {
    transform: scale(1.15);
    transition: 1s;
}    
.menu-container-user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}