.podium-modal-container{
    visibility: hidden;
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.383);
}
.podium-modal {
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5%;
    background-color: rgba(255, 255, 255, 0.943);
    border-radius: 10px;
    padding: 1%;
}
.podium-modal > h1 {
    width: 100%;
    color: rgb(125, 42, 42);
    line-height: 70px;
    font-size: 50px;
    text-align: center;
}
.podium-modal-button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.podium-modal-button-container > button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.podium-modal-container-champion {
    width: 100%;
}
/* .podium-modal-container-champion > div {
    margin-top: -10vh;
} */
.podium-modal-container-second {
    width: 50%;
}

.podium-modal-container-third {
    width: 50%;
}

.podium-modal-container-team {
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 10vh

}
.podium-modal-medal {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}
.podium-modal-world-cup{
    overflow: visible;
   height: 30vh;

}
#champion-name {
    font-size: 50px;
}

#silver {
    background-color: rgb(193, 193, 193);
}

#bronze {
    background-color: rgb(124, 96, 44);
}