.group-stage-group-match-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}
.group-stage-group-match-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.group-stage-group-match-result-container>label {
    font-size: 9px;
    font-weight: bold;
}
.group-stage-group-match-result-container > input {
    font-family: "Qatar2022";
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: rgb(107, 107, 107);
    padding-top: 4px;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border-bottom: 1.5px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(200, 200, 200);
}
#set{
    color: #8A1538;
    font-family: "Qatar2022";
    cursor: pointer;
}
.group-stage-group-match-result-container > p {
    font-weight: bold;
    font-family: "Qatar2022";
    font-size: 22.5px;
}
.group-stage-group-match-results > button {
    font-weight: bold;
    font-size: 12px;
    font-family: "Qatar2022";
    color: blue;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.group-stage-group-match-result {
    width: 15px;
    height: 15px;
    text-align: center;
}

.group-stage-group-match-result::-webkit-outer-spin-button,
.group-stage-group-match-result::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.group-stage-group-match-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 140px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}