.user-profile-container{
    margin-top: 10%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-profile-container > h1 {
    color: #8A1538;
}
.user-profile-update-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    padding: 1%;
    margin-top: 2%;
    border-radius: 20px
}
.input-userporfile {
    width: 300px;
    height: 35px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 7.5px;
    font-family: "Qatar2022";
    font-size: 15px;
    color: grey;
    padding: 1.5%;
}
.user-profile-section > p {
    color: #8A1538;
    font-size: 15px;
    margin-bottom: 0.5%;
    width: 135px;
    text-align: right;
}
.user-profile-section > button {
    width: 130px;
    height: 30px;
    font-family: "Qatar2022";
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid white;
    background-color: #8A1538;
    color: white;
    cursor: pointer
}
.user-profile-section > button:hover {
    border: 1px solid #8A1538;
    background-color: white;
    color: #8A1538;
}
.pic-upload{
    border: none;
    font-family: "Qatar2022";
    color: grey;
    font-size: 15px;
    margin-top: 1%;
    width: 300px;
}
.user-profile-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5%;
}
.user-profile-error{
    margin-top: 2.5%;
    font-size: 20px;
    color: #8A1538;
}
@media (max-width: 500px){
    .user-profile-container {
        margin-top: 80px;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-profile-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* justify-content: space-between; */
        margin-bottom: 5%;
    }
    .user-profile-section>p {
        color: #8A1538;
        font-size: 15px;
        margin-bottom: 0.5%;
        margin-top: 1.5%;
        width: 135px;
        text-align: center;
    }
    .input-userporfile > p {
        margin-top: 5%;
    }
    .user-profile-update-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        padding: 1%;
        margin-top: 5%;
    }
    .user-profile-section>button {
        width: 130px;
        height: 30px;
        font-family: "Qatar2022";
        border-radius: 5px;
        font-size: 12px;
        border: 1px solid white;
        background-color: #8A1538;
        color: white;
        cursor: pointer;
        margin-top: 2.5%;
    }
}